 body {background-image: linear-gradient(rgb(13, 107, 248),rgb(96, 210, 255));
    margin: 0;
padding: 0;
}

.container{margin-top: 30px;
   padding-left: 200px;
   margin-right: 200px;
   height: 800px;
}
.nav{
    float: right;
}
.nav ul{
    list-style: none;
    padding: 0;
     margin-top: 50px;
}
.nav ul li{
    float: left;
}
.nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight:200;
    transition: all 0.8s;
}
.nav a:hover{
    background-color: rgb(77, 77, 77);
    color:rgb(0, 0, 0);}
.logo{
    display: inline-block;

}
.logo h1{
    color: aliceblue;
    font-size: 30px;
}
.clear{
    clear: both;
}
.header{
    margin-top: 30px;
}
.container hr{
    color: rgb(66, 66, 66);
}
.right-box {
    color: rgb(255, 255, 255);
    float: right;
    width: 50%;
    height: 500px;
}
.right-box img{
    width: 100%;
    height: 200px;
    border: #ffffff;
    border: 5px solid white
    ;
}

.left-box{
    color: #ffffff;
    float: left;
    width: 49%;
    height: 500px;
}
